.heading-div{
  background-color: blanchedalmond;
  width: auto;
  background-color: #fb0a84;
  border: 2px solid rgb(97, 3, 97);
  margin-bottom: 0.5rem;
}

.heading{
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

#center-table{
  margin-left: 2rem;
  margin-right: 2rem;
}